@charset 'UTF-8';

#my-grid10 .x-grid3-cell-inner {
  font-size: 8px;
  color: #001f66;
  background-color: #b0c4de;
}

#my-grid .x-grid3-cell-inner {
  font-size: 16px;
  color: #001f66;
  background-color: #b0c4de;
}
#my-grid2 .x-grid3-cell-inner {
  font-size: 16px;
  color: #001f66;
  background-color: #b0c4de;
}
#my-grid3 .x-grid3-cell-inner {
  font-size: 16px;
  color: #001f66;
  background-color: #b0c4de;
}

#my-grid4 .x-grid3-cell-inner {
  font-size: 19px;
  color: #001f66;
  background-color: pink;
}

#my-grid5 .x-grid3-cell-inner {
  font-size: 19px;
  color: #001f66;
  background-color: pink;
}
.x-grid3-hd-inner {
  font-size: 10pt !important;
  font-weight: bold !important;
  background-color: #e393e8;
}

#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: verdana, geneva, arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #8e8e8e;
  width: auto;
}

    .timeline .x-button-item-horizontal:before {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        left: 2px;
        top: 0px;
        border-style: solid;
        border-width: 19px 0 19px 19px;
        border-color: transparent transparent transparent #fff;
        z-index: 0;
    }
 
    .timeline .x-btn-default-small {
        border: 0px !important;
    }
 
    /* overlay right-facing triangle of standard button color, leaving
    edges of white right-facing triangle */
    .timeline .x-button-item-horizontal:after {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        border-style: solid;
        border-width: 19px 0 19px 19px;
        border-color: transparent transparent transparent #5fa2dd;
        z-index: 10;
    }
 
    /* white arrow overlay to left of first button */
    .timeline .x-button-item-horizontal:first-child:after {
         border-color: transparent transparent transparent white;
    }
 
    .timeline .x-button-item-horizontal:first-child:after, .timeline .x-button-item-horizontal.x-btn-pressed:first-child:after {
         border-color: transparent transparent transparent white !important;
    }
 
    .timelinebutton.x-btn-pressed:after {
        border-left-color: #477aa6;
    }
 
    .timeline .x-button-item-horizontal.x-btn-pressed + .x-button-item-horizontal:after {
        border-color: transparent transparent transparent #477aa6;
    }
 
    .timeline .x-button-item-horizontal.x-btn-pressed:after {
        border-color: transparent transparent transparent #5fa2dd;
    }
 
    /* eliminate right edge border that Ext JS puts into place. */
    .timeline .x-btn-focus.x-btn-pressed {
        box-shadow: none !important;
    }
 
    /* set hover of triangle to standard hover color of button */
    .timeline .x-btn-over + .x-button-item-horizontal:after {
        border-color: transparent transparent transparent #5795cb;
    }


.button {
border-color:#EE0000;
font-size: 24px !important;
font-weight: bold !important;
font-family: 'Arial' !important;
border: solid 1px #da7c0c;
background: #ffff00;
}
.button .x-btn-inner {
color:#0000ff;
font-size: 12px !important;
font-weight: bold !important;
font-family: 'Arial' !important;
}
.button .my-over {
background: #00ff00;
font-size: 18px !important;
}
.button.my-disabled{
background: #cccccc;


}

#cssmenu > ul {
  margin-top: 6px !important;
}
#cssmenu ul {
  background: #CDCDCD;
  background: -webkit-linear-gradient(#cdcdcd 0%, #e2e2e2 80%, #cdcdcd 100%);
  background: linear-gradient(#cdcdcd 0%, #e2e2e2 80%, #cdcdcd 100%);
  border-top: 1px solid #A8A8A8;
  -webkit-box-shadow: inset 0 1px 0 #e9e9e9, 0 1px 0 #659dd6, 0 2px 0 #97b2cd, 0 8px 0 #659dd6, 0 9px 0 #4186cc, 0 -1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 #e9e9e9, 0 1px 0 #659dd6, 0 2px 0 #97b2cd, 0 8px 0 #659dd6, 0 9px 0 #4186cc, 0 -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 #e9e9e9, 0 1px 0 #659dd6, 0 2px 0 #97b2cd, 0 8px 0 #659dd6, 0 9px 0 #4186cc, 0 -1px 1px rgba(0, 0, 0, 0.1);
  height: 27px;
  list-style: none;
  margin: 0;
  padding: 0;
}
    .styled-textfield .x-form-fieldset {
        border-radius: 5px;
        border-color: #ff0000;
    }
    .styled-textfield .x-form-text {
       border-radius: 5px;
    }
             .centerDiv { width: 0%; height:0px; margin: auto; }
              body {
                  background-image: url("/Pictures/pp1.jpg"); 
        background-repeat: no-repeat;
        min-height: 100vh;       
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
   width: 100%;
            height: 100%;
            max-height: 100%;
               }
#cssmenu ul ul {
  border-top: 6px solid #659dd6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#cssmenu ul ul a {
  line-height: 43px;
}
#cssmenu ul ul ul {
  left: 100%;
  top: 0;
}
#cssmenu li {
  float: left;
  padding: 0px 8px 0px 8px;
}
#cssmenu li a {
  color: #3f4270;
  display: block;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu li a:hover {
  color: #F49785;
  text-decoration: none;
}
#cssmenu li ul {
  background: #e0e0e0;
  border-left: 2px solid #659dd6;
  border-right: 2px solid #659dd6;
  border-bottom: 2px solid #659dd6;
  display: none;
  height: auto;
  filter: alpha(opacity=95);
  opacity: 0.95;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
		/*left:0;*/

}
#cssmenu li:hover > ul {
  display: block;
}
#cssmenu li li {
  display: block;
  float: none;
  padding: 0px;
  position: relative;
  width: 225px;
}
#cssmenu li ul a {
  display: block;
  font-size: 10px;
  font-style: normal;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover {
  background: #949494;
  color: #7676bf;
  opacity: 1.0;
  filter: alpha(opacity=100);
}
#cssmenu p {
  clear: left;
}
#cssmenu .active > a {
  background: #659dd6;
  -webkit-box-shadow: 0 -4px 0 #659dd6, 0 -5px 0 #97b2cd, 0 -6px 0 #659dd6;
  -moz-box-shadow: 0 -4px 0 #659dd6, 0 -5px 0 #97b2cd, 0 -6px 0 #659dd6;
  box-shadow: 0 -4px 0 #659dd6, 0 -5px 0 #97b2cd, 0 -6px 0 #659dd6;
  color: #ffffff;
}
#cssmenu .active > a:hover {
  color: white;
}


